You have to fill up this variable:
PORT=5000
DATABASE=mongodb://127.0.0.1:27017/TaskManager
JWT_KEY=Your_secret_here
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=Your_mailTrap_user
EMAIL_PASS=Your_mailTrap_password